body {
   font-family: 'Ubuntu', sans-serif;
}
.page{
   padding-top: 60px;
   padding-bottom: 60px;
   position: relative;
}

.wrap{
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   box-sizing: border-box;
}

.header {
	width: 100%; 
	max-width: 1180px; 
	margin: 30px 0 auto; 
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	box-sizing: border-box; 
 }
.nav {
	display: flex;
	list-style-type: none; 
	justify-content: flex-start;
	font-size: 14px; 
	align-items: center;
}
	
.nav>li{
   		margin-left: 15px; 
}

.nav>li>a{
   text-decoration: none;
   color: #202020;
   font-weight: 700;
}

.logo {
   display: flex;
   align-items: center;
   text-decoration: none;
}
.logo img {
   display: block;
   width: 100px;
   height: 100px;
}

.logo span {
   font-size: 24px;
   color: #202020;
   font-weight: 700;
}
.nav .button {
    background: #957dde;
    border-radius: 5px;
    color: #fff;
    font-weight: initial;
   padding: 5px 15px;
   border: none;
}
.page-top {
   border-top: 1px solid #C2C2C2;
}

.page h2 {
    position: absolute;
    font-size: 15px;
    font-weight: lighter;
    color: #b1b0b0;
    top: -22px;
    background: #fff;
    padding: 0 20px;
}
.page .button {
    background: #957dde;
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px;
    font-weight: initial;
    font-size: 15px;
    border: 1px solid #957dde;
    margin-top: 40px;
    margin-bottom: 40px;
}
.page h1 {
    font-size: 40px;
    color: #000;
    font-weight: bold;
}
.page .hero-text {
    width: 550px;
    font-size: 20px;
    color: #000;
    font-weight: 100;
    line-height: inherit;
}

.departments{
   display: grid;
   grid-template-rows: 50% 50%;
   grid-template-columns: 50% 50%;
   grid-row-gap: 20px; /*простір між рядками*/
}
.departments1 {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
	grid-row-gap: 20px;
}
.dep-item {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.dep-item .img{
   flex-basis: 140px; 
   text-align: center;
}
.dep-item .text{
   flex-basis: calc(100% - 140px); 
}

footer{
   background-color: #F7F7F7;
}

.footer{
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.social{
   display: flex;
   list-style-type: none;
}
.social li{
   margin-right: 20px;
}
.social a{
   text-decoration: none;
   color: #B2B2B2;
   font-size: 24px;
}
h3
{
	font-weight: bold;
	font-size: 25px;
}